<div id="masonry" [style.height.px] = "pageHeight">

  
  <div class="container" >
    <div class="item" style="height: 140px">1</div>
    <div class="item" style="height: 190px">2</div>
    <div class="item" style="height: 170px">3</div>
    <div class="item" style="height: 120px">4</div>
    <div class="item" style="height: 160px">5</div>
    <div class="item" style="height: 180px">6</div>
    <div class="item" style="height: 140px">7</div>
    <div class="item" style="height: 150px">8</div>
    <div class="item" style="height: 170px">9</div>
    <div class="item" style="height: 170px">10</div>
    <div class="item" style="height: 170px">11</div>
    
    <div class="item" style="height: 170px">12</div>
    <div class="item" style="height: 170px">13</div>
    <div class="item" style="height: 140px">7</div>
    <div class="item" style="height: 150px">8</div>
    <div class="item" style="height: 170px">9</div>
    <div class="item" style="height: 170px">10</div>
    <div class="item" style="height: 170px">11</div>
    
    <div class="item" style="height: 170px">12</div>
    <div class="item" style="height: 170px">13</div>
    
  <!--
  <cdk-virtual-scroll-viewport class="container" itemSize=100>
    <div class="item"  *cdkVirtualFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
      <div [style.height.px] = 203> 
        {{number}}
      </div>
    </div>
    
    <span class="item break" *ngFor="let i of columnNumber"></span>
  </cdk-virtual-scroll-viewport>
-->

    <!--Creare tanti item break quante sono le colonne-->
    
    <span class="item break" *ngFor="let i of columnNumber"></span>
  </div>

  
</div>
